/*------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
INDEX PRODUCT SECTION -------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
------------------------------------------------------------------
/*------------------------------------------------------------------
[ Bootstrap ]*/
.container {
  max-width: 1380px;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}

/*------------------------------------------------------------------
  [ Slick2 ]*/
.slick-slide {
  outline: none !important;
}

/*//////////////////////////////////////////////////////////////////
  [ Block1 ]*/
.block1 {
  position: relative;
  border: 1px solid #e6e6e6;
}

.block1-txt {
  background-color: rgba(103, 117, 214, 0);
}

/*---------------------------------------------*/
.block1-name {
  color: #333;
}
.block1-info {
  color: #555;
}

/*---------------------------------------------*/
.block1-txt-child2 {
  border-bottom: 2px solid #fff;
  overflow: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

.block1-link {
  -webkit-transform: translateY(250%);
  -moz-transform: translateY(250%);
  -ms-transform: translateY(250%);
  -o-transform: translateY(250%);
  transform: translateY(250%);
}

/*---------------------------------------------*/
.block1-txt:hover {
  background-color: rgba(103, 117, 214, 0.8);
}

.block1-txt:hover .block1-txt-child2 {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.block1-txt:hover .block1-link {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.block1-txt:hover .block1-name,
.block1-txt:hover .block1-info {
  color: #fff;
}

/*//////////////////////////////////////////////////////////////////
  [ Block2 ]*/
.block2-pic {
  position: relative;
}

.block2-btn {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block2-pic:hover .block2-btn {
  bottom: 20px;
}

/*---------------------------------------------*/
.block2-txt-child1 {
  width: calc(100% - 30px);
}

.block2-txt-child2 {
  width: 30px;
}

.btn-addwish-b2 .icon-heart2 {
  opacity: 0;
}

.btn-addwish-b2:hover .icon-heart2 {
  opacity: 1;
}

.btn-addwish-b2:hover .icon-heart1 {
  opacity: 0;
}

.js-addedwish-b2 .icon-heart2 {
  opacity: 1;
}

.js-addedwish-b2 .icon-heart1 {
  opacity: 0;
}

/*---------------------------------------------*/
.label-new {
  position: relative;
}

.label-new::after {
  content: attr(data-label);
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 50px;
  height: 22px;
  border-radius: 11px;
  padding: 0 6px;
  background-color: #66a8a6;
  top: 42px;
  left: 12px;
}

/*==================================================================
      TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
  ==================================================================*/
.cl0 {
  color: #fff;
}
.cl1 {
  color: #717fe0;
}
.cl2 {
  color: #333;
}
.cl3 {
  color: #666;
}
.cl4 {
  color: #999;
}
.cl5 {
  color: #222;
}
.cl6 {
  color: #888;
}
.cl7 {
  color: #b2b2b2;
}
.cl8 {
  color: #555;
}
.cl9 {
  color: #aaa;
}
.cl10 {
  color: #1d1d1d;
}
.cl11 {
  color: #f9ba48;
}
.cl12 {
  color: #ccc;
}

/*//////////////////////////////////////////////////////////////////
  [ S-Text 0 - 15 ]*/
.stext-101 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
}

.stext-102 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
}

.stext-103 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.466667;
}

.stext-104 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.466667;
}

.stext-105 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.466667;
  letter-spacing: 1px;
}

.stext-106 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.2;
}

.stext-107 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.923;
}

.stext-108 {
  font-family: Poppins-Light;
  font-size: 14px;
  line-height: 1.7143;
}

.stext-109 {
  font-family: Poppins-Regular;
  font-size: 12px;
  line-height: 1.833333;
}

.stext-110 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.466667;
}

.stext-111 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.6923;
}

.stext-112 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.6923;
  text-transform: uppercase;
}

.stext-113 {
  font-family: Poppins-Light;
  font-size: 14px;
  line-height: 1.7857;
}

.stext-114 {
  font-family: Poppins-Italic;
  font-size: 15px;
  line-height: 1.666667;
}

.stext-115 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.666667;
}

.stext-116 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.266667;
}

.stext-117 {
  font-family: Poppins-Light;
  font-size: 15px;
  line-height: 1.666667;
}

/*---------------------------------------------*/
.stext-301 {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////
  [ M-Text 16 - 25 ]*/
.mtext-101 {
  font-family: Poppins-Medium;
  font-size: 18px;
  line-height: 1.333333;
}

.mtext-102 {
  font-family: Poppins-SemiBold;
  font-size: 16px;
  line-height: 1.6;
}

.mtext-103 {
  font-family: Poppins-Bold;
  font-size: 18px;
  line-height: 1.333333;
  text-transform: uppercase;
}

.mtext-104 {
  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.6;
}

.mtext-105 {
  font-family: Poppins-Regular;
  font-size: 24px;
  line-height: 1.5;
}

.mtext-106 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  line-height: 1.388888;
}

.mtext-107 {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.625;
}

.mtext-108 {
  font-family: Poppins-Regular;
  font-size: 20px;
  line-height: 1.3;
}

.mtext-109 {
  font-family: Poppins-Bold;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
}

.mtext-110 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.222222;
}

.mtext-111 {
  font-family: Poppins-Bold;
  font-size: 25px;
  line-height: 1.2;
}

.mtext-112 {
  font-family: Poppins-Bold;
  font-size: 22px;
  line-height: 1.333333;
}

.mtext-113 {
  font-family: Poppins-Bold;
  font-size: 22px;
  line-height: 1.333333;
  text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////
  [ L-Text >= 26 ]*/
.ltext-101 {
  font-family: Poppins-Regular;
  font-size: 28px;
  line-height: 1.2857;
}

.ltext-102 {
  font-family: Poppins-Bold;
  font-size: 28px;
  line-height: 1.1;
}

.ltext-103 {
  font-family: Poppins-Bold;
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
}

.ltext-104 {
  font-family: Poppins-Bold;
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
}

.ltext-105 {
  font-family: Poppins-Bold;
  font-size: 50px;
  line-height: 1.1;
}

.ltext-106 {
  font-family: Poppins-Bold;
  font-size: 36px;
  line-height: 1.2;
}

.ltext-107 {
  font-family: Poppins-Bold;
  font-size: 30px;
  line-height: 1.1;
}

.ltext-108 {
  font-family: Poppins-Bold;
  font-size: 26px;
  line-height: 1.3846;
}

.ltext-109 {
  font-family: Poppins-Bold;
  font-size: 36px;
  line-height: 1.2;
}

/*---------------------------------------------*/
.ltext-201 {
  font-family: PlayfairDisplay-Bold;
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
}

.ltext-202 {
  font-family: PlayfairDisplay-Regular;
  font-size: 28px;
  line-height: 1.2857;
}

/*//////////////////////////////////////////////////////////////////
  [ SIZE ]*/

.s-full {
  width: 100%;
  height: 100%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.max-s-full {
  max-width: 100%;
  max-height: 100%;
}
.max-w-full {
  max-width: 100%;
}
.max-h-full {
  max-height: 100%;
}
.min-w-full {
  min-width: 100%;
}
.min-h-full {
  min-height: 100%;
}

/*------------------------------------------------------------------
  [ Wrap Picture ]*/

.wrap-pic-s,
.wrap-pic-max-s,
.wrap-pic-w,
.wrap-pic-max-w,
.wrap-pic-h,
.wrap-pic-max-h {
  display: block;
}

.wrap-pic-w img {
  width: 100%;
}
.wrap-pic-max-w img {
  max-width: 100%;
}

.wrap-pic-h img {
  height: 100%;
}
.wrap-pic-max-h img {
  max-height: 100%;
}

.wrap-pic-s img {
  width: 100%;
  height: 100%;
}
.wrap-pic-max-s img {
  max-width: 100%;
  max-height: 100%;
}

/*---------------------------------------------*/
.pointer {
  cursor: pointer;
}
.of-hidden {
  overflow: hidden;
}
.visible-false {
  visibility: hidden;
}
.visible-true {
  visibility: visible;
}

/*------------------------------------------------------------------
  [ Transition ]*/
.trans-01 {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
.trans-02 {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.trans-03 {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.trans-04 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.trans-05 {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.trans-06 {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.trans-07 {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}
.trans-08 {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}
.trans-09 {
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  -moz-transition: all 0.9s;
  transition: all 0.9s;
}
.trans-10 {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

/*//////////////////////////////////////////////////////////////////
  [ POSITION ]*/

/*------------------------------------------------------------------
  [ Display ]*/
.dis-none {
  display: none;
}
.dis-block {
  display: block;
}
.dis-inline {
  display: inline;
}
.dis-inline-block {
  display: inline-block;
}

.flex-w,
.flex-l,
.flex-r,
.flex-c,
.flex-sa,
.flex-sb,
.flex-t,
.flex-b,
.flex-m,
.flex-str,
.flex-c-m,
.flex-c-t,
.flex-c-b,
.flex-c-str,
.flex-l-m,
.flex-r-m,
.flex-sa-m,
.flex-sb-m,
.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col-l-sb,
.flex-col-r-sb,
.flex-row,
.flex-row-rev,
.flex-col,
.flex-col-rev,
.dis-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/*------------------------------------------------------------------
  [ Position ]*/
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}

/*------------------------------------------------------------------
  [ Float ]*/
.float-l {
  float: left;
}
.float-r {
  float: right;
}

/*------------------------------------------------------------------
  [ Top Bottom Left Right ]*/
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

.top-auto {
  top: auto;
}
.bottom-auto {
  bottom: auto;
}
.left-auto {
  left: auto;
}
.right-auto {
  right: auto;
}

/*------------------------------------------------------------------
  [ Flex ]*/
.flex-w {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* ------------------------------------ */
.flex-l {
  justify-content: flex-start;
}

.flex-r {
  justify-content: flex-end;
}

.flex-c {
  justify-content: center;
}

.flex-sa {
  justify-content: space-around;
}

.flex-sb {
  justify-content: space-between;
}

/* ------------------------------------ */
.flex-t {
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-b {
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-m {
  -ms-align-items: center;
  align-items: center;
}

.flex-str {
  -ms-align-items: stretch;
  align-items: stretch;
}

/* ------------------------------------ */
.flex-c-m {
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.flex-c-t {
  justify-content: center;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-c-b {
  justify-content: center;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-c-str {
  justify-content: center;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex-l-m {
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}

.flex-r-m {
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
}

.flex-sa-m {
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.flex-sb-m {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

/* ------------------------------------ */
.flex-col-l {
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.flex-col-r {
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.flex-col-c {
  -ms-align-items: center;
  align-items: center;
}

.flex-col-str {
  -ms-align-items: stretch;
  align-items: stretch;
}

/*---------------------------------------------*/
.flex-col-t {
  justify-content: flex-start;
}

.flex-col-b {
  justify-content: flex-end;
}

.flex-col-m {
  justify-content: center;
}

.flex-col-sb {
  justify-content: space-between;
}

.flex-col-sa {
  justify-content: space-around;
}

/*---------------------------------------------*/
.flex-col-c-m {
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.flex-col-l-m {
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.flex-col-r-m {
  -ms-align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
}

.flex-col-str-m {
  -ms-align-items: stretch;
  align-items: stretch;
  justify-content: center;
}

.flex-col-c-t {
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-c-b {
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-c-sb {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-c-sa {
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.flex-col-l-sb {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: flex-start;
}

.flex-col-r-sb {
  justify-content: space-between;
  -ms-align-items: center;
  align-items: flex-end;
}

/* ------------------------------------ */
.flex-row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.flex-row-rev {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col-l-sb,
.flex-col-r-sb,
.flex-col {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex-col-rev {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/*------------------------------------------------------------------
  [ Absolute ]*/
.ab-c-m {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ab-c-t {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ab-c-b {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ab-l-m {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ab-r-m {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ab-t-l {
  position: absolute;
  left: 0px;
  top: 0px;
}

.ab-t-r {
  position: absolute;
  right: 0px;
  top: 0px;
}

.ab-b-l {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.ab-b-r {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/*//////////////////////////////////////////////////////////////////
  [ Other ]*/

.parallax100 {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .parallax100 {
    background-attachment: inherit;
  }
}

/*---------------------------------------------*/
.hidden-scroll {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

/*---------------------------------------------*/
.pointer-none {
  pointer-events: none;
}
