/* ==================================================
============= CUSTOM FONTS ====================
========================================*/

@font-face {
  font-family: "Agraham";
  src: url(../fonts/Agraham.otf);
}

@font-face {
  font-family: "Cosmic";
  src: url(../fonts/CosmicVibrant-WywzY.otf);
}

@font-face {
  font-family: "Fender";
  src: url(../fonts/FenderRegular.otf);
}

@font-face {
  font-family: "Nanora";
  src: url(../fonts/Nanora-PVOxr.otf);
}

/*=====================================================
=========== UNIVERSAL ===============================
======================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanora";
}

/*
body {
	color: hsl(0 0% 10%);
}

body::before {
	--size: 60px;
	--line: hsla(0, 0%, 100%, 0.158);
	content: '';
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: linear-gradient(
				90deg,
				var(--line) 1px,
				transparent 1px var(--size)
			)
			50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
			var(--size) var(--size);
	-webkit-mask: linear-gradient(-15deg, transparent 50%, white);
	        mask: linear-gradient(-15deg, transparent 50%, white);
	top: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: var(--black);
}

/* ==================================================
============= ROOT ==============================
========================================*/
:root {
  /* color scheme */

  --white: #fff;
  --black: #000;
  --light-rose: #fa5494;
  --dim-gray: #181818;
  --light-purple: #921eeb;
  --gradient: linear-gradient(to right, #fa5494, #bc6ff1);
}

/*=====================================================
=========== BACK TO TOP =============================
======================================================*/

.scroll-up {
  height: 40px;
  width: 40px;
  display: block;
  outline: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
  cursor: pointer;
}

.scroll-up svg line {
  stroke-width: 1;
  stroke: var(--white);
  fill: none;
  stroke-dasharray: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.scroll-up:hover svg line.top {
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}

.scroll-up:hover svg line.bottom {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
}

.scroll-up:hover svg line.left {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.scroll-up:hover svg line.right {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}

.scroll-up .left-bar {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 5px;
  width: 18px;
  display: block;
  transform: rotate(-45deg);
}

.scroll-up .left-bar:after {
  content: "";
  background-color: var(--light-purple);
  width: 18px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}

.scroll-up .right-bar {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 18px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
}

.scroll-up .right-bar:after {
  content: "";
  background-color: var(--light-purple);
  width: 18px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}

.scroll-up:hover {
  transition: all 0.1s;
}

.scroll-up:hover .left-bar:after {
  transform: rotate(-10deg);
}

.scroll-up:hover .right-bar:after {
  transform: rotate(10deg);
}

.arrow-up {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid var(--light-purple);
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: var(--light-purple);
  position: absolute;
  display: block;
  z-index: 0;
}

.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  transform: rotate(-45deg);
}
.left-arm:after {
  content: "";
  background-color: var(--light-purple);
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}

.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
}

.right-arm:after {
  content: "";
  background-color: var(--light-purple);
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}

.arrow-up:hover {
  transition: all 0.1s;
}

.arrow-up:hover .left-arm:after {
  transform: rotate(-10deg);
}

.arrow-up:hover .right-arm:after {
  transform: rotate(10deg);
}

.arrow-up:hover .arrow-slide {
  transition: all 0.4s ease-in-out;
  transform: translateY(200%);
}

.scroll-up {
  margin-left: 100px;
}

.arrow-up {
  margin-left: -100px;
}

.arrow-up,
.scroll-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

/*=====================================================
=========== NAVIGATION BAR ===========================
======================================================*/

nav {
  position: fixed;
  width: 100%;
  background: var(--dim-gray);
  z-index: 99;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
}

.wrapper .logo img {
  height: 30px;
  margin: 10px;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  list-style: none;
  margin: 0;
}

.nav-links li a {
  color: var(--white);
  text-decoration: none;
  font-size: 15px;
  padding: 9px 15px;
  transition: all 0.3s ease;
  font-family: "Cosmic";
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-links li a:hover {
  background: var(--light-purple);
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-family: "Nanora";
  text-transform: none;
  font-size: 20px;
  letter-spacing: 1px;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content {
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.content .row header {
  color: var(--white);
  font-size: 18px;
  font-family: "Cosmic";
  letter-spacing: 1px;
}

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: var(--white);
  font-size: 17px;
  display: block;
  font-family: "Nanora";
}

.row .mega-links li a:hover {
  color: var(--white);
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 575px) {
  .wrapper .logo img {
    height: 20px;
    margin: 10px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 970px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #242526;
    padding: 20px 0;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  .desktop-item {
    font-family: "Cosmic";
  }
}

@media screen and (max-width: 1070px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-family: "Cosmic";
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: var(--light-purple);
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}

nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}

/*=====================================================
=========== SHIPPING POCLIY HERO SECTION===============
======================================================*/

.Shopping-Policy-hero {
  width: 100%;
  height: 80vh;
  background: url("../images/heros/shipping-hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.Shopping-Policy-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.Shopping-Policy-hero-content {
  position: relative;
  color: var(--white);
  z-index: 1;
  padding: 20px;
}

.Shopping-Policy-hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cosmic";
  color: var(--white);
  opacity: 90%;
}

.hero-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1rem;
  font-family: "Cosmic";
  text-transform: uppercase;
  border: 2px solid var(--light-purple);
  color: var(--white);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.hero-btn:hover {
  background: var(--light-purple);
  color: var(--white);
}

@media (max-width: 768px) {
  .Shopping-Policy-hero-content h1 {
    font-size: 2.2rem;
  }

  .Shopping-Policy-hero-content p {
    font-size: 1rem;
  }

  .hero-btn {
    font-size: 0.9rem;
    padding: 10px 25px;
  }
}

/*=====================================================
=========== SCROLLING TEXT  =========================
======================================================*/

.scrolling-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: var(--black);
  padding: 70px 0;
  position: relative;
}

.scrolling-content {
  display: inline-block;
  white-space: nowrap;
  animation: scrollmarguee 90s linear infinite;
  font-family: "Cosmic";
  font-size: 70px;
  text-transform: uppercase;
  color: var(--white);
  opacity: 80%;
}

@keyframes scrollmarguee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

/*=====================================================
=========== FAQ ACCORDTION==============================
======================================================*/

.faq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.faq-container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item {
  background-color: #000000;
  border-radius: 0.4rem;
}

.accordion-item hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link h3 {
  font-size: 18px;
  font-family: "cosmic";
  letter-spacing: 1px;
  opacity: 90%;
}

.accordion-link i {
  color: #e7d5ff;
  padding: 0.5rem;
}

.accordion-link ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li {
  font-size: 10px;
  font-family: "Nanora";
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #000;
  transition: max-height 650ms;
}

.answer p {
  color: #fff;
  font-size: 19px;
  padding: 2rem;
  font-family: "Nanora";
  letter-spacing: 1px;
  opacity: 95%;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}

/*=====================================================
=========== SUBSCRIBE SECTION  ========================
======================================================*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row; /* Align input and button in the same row */
  align-items: center;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  gap: 10px;
}

.form-container-h3 {
  font-size: 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Cosmic";
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 15rem;
  margin-bottom: 50px;
}

input[type="email"] {
  flex: 1;
  padding: 15px;
  border: 2px solid var(--light-purple);
  background: var(--black);
  color: white;
  font-size: 23px;
}

input[type="submit"] {
  padding: 17px;
  background-color: var(--light-purple);
  color: var(--white);
  font-size: 23px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--white);
  color: var(--black);
}

@media (max-width: 500px) {
  form {
    flex-direction: column;
    width: 100%;
  }

  input[type="email"],
  input[type="submit"] {
    width: 100%;
  }
}

/*=====================================================
======================== FOOOTER======================
======================================================*/

.section-footer {
  font-family: "Nanora";
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 20px;
  font-family: "Nanora";
  align-items: center;
  justify-items: center;
  color: var(--white);
  background-color: var(--dim-gray);
  margin-top: 100px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 30px 30px;
  width: 90%;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin: 30px;
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo img {
  width: 200px;
  margin-bottom: 10px;
}

.footer__addr h2 {
  font-size: 20px;
  font-family: "Nanora";
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.nav__title {
  font-family: "Cosmic";
  letter-spacing: 1px;
  font-size: 19px;
}

.footer .pay-ico {
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: var(--light-purple);
  color: var(--white);
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  transition: background 0.3s ease-in-out;
}

.footer__btn:hover {
  color: var(--black);
  background-color: var(--white);
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer .nav__item {
  margin: 30px;
}
.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
  font-family: "Nanora";
  letter-spacing: 1px;
  font-size: 19px;
}

.footer a:hover {
  background: var(--light-purple);
  color: var(--white);
  padding: 5px;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.legal p {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

/*=====================================================
=========== SIZE CHART  HERO SECTION===============
======================================================*/

.size-chart-hero {
  width: 100%;
  height: 80vh;
  background: url("../images/heros/size-chart-hreo.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.size-chart-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.size-chart-hero-content {
  position: relative;
  color: var(--white);
  z-index: 1;
  padding: 20px;
}

.size-chart-hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cosmic";
  color: var(--white);
  opacity: 90%;
}

@media (max-width: 768px) {
  .size-chart-hero-content h1 {
    font-size: 2.2rem;
  }

  .size-chart-hero-content p {
    font-size: 1rem;
  }
}

/*=====================================================
=========== SIZE CHART ================================
======================================================*/

.size-chart {
  color: var(--white);
  text-align: center;
  padding: 50px 20px;
}

.size-chart h2 {
  font-size: 3rem;
  font-family: "Cosmic";
  color: var(--white);
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--light-purple);
  display: inline-block;
}

.crop-image {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.crop-image img {
  width: 70%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
}

.size-table {
  display: flex;
  justify-content: center;
}

table {
  width: 90%;
  max-width: 900px;
  border-collapse: collapse;
}

.size-table th,
.size-table td {
  font-family: "Cosmic";
  border: 2px solid rgba(255, 255, 255, 0.158);
}

.size-table th {
  font-family: "Cosmic";
  letter-spacing: 1px;
  padding: 20px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.2);
}

.size-table td {
  font-family: "Lucida Sans";
  color: var(--white);
  font-size: 1rem;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .crop-image img {
    width: 90%;
    max-height: 60vh;
  }
}

/*=====================================================
=========== REFUND POLICY HERO SECTION===============
======================================================*/

.Refund-Policy-hero {
  width: 100%;
  height: 80vh;
  background: url("../images/heros/refund-hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.Refund-Policy-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.Refund-Policy-hero-content {
  position: relative;
  color: var(--white);
  z-index: 1;
  padding: 20px;
}

.Refund-Policy-hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cosmic";
  color: var(--white);
  opacity: 90%;
}

@media (max-width: 768px) {
  .Refund-Policy-hero-content h1 {
    font-size: 2.2rem;
  }

  .Refund-Policy-hero-content p {
    font-size: 1rem;
  }
}

/*=====================================================
=========== AMBASSADOR HERO SECTION====================
======================================================*/

.ambassador-hero {
  width: 100%;
  height: 80vh;
  background: url("../images/heros/ambassador-hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.ambassador-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ambassador-hero-content {
  position: relative;
  color: var(--white);
  z-index: 1;
  padding: 20px;
}

.ambassador-hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cosmic";
  color: var(--white);
  opacity: 90%;
}

@media (max-width: 768px) {
  .ambassador-hero-content h1 {
    font-size: 2.2rem;
  }

  .ambassador-hero-content p {
    font-size: 1rem;
  }
}

/*=====================================================
=========== AMBASSADOR  SECTION=========================
======================================================*/

.ambassador {
  text-align: center;
  padding: 80px 20px;
  color: var(--white);
}

.ambassador-header h2 {
  font-size: 40px;
  font-family: "Cosmic";
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 390px) {
  .ambassador-header h2 {
    font-size: 30px;
  }
}

.ambassador-header p {
  margin: 10px 0 20px;
  font-size: 25px;
  font-family: "Nanora";
}

.ambassador-apply-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 25px;
  background: var(--light-purple);
  color: var(--white);
  font-family: "Nanora";
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ambassador-apply-btn:hover {
  color: var(--black);
  background: var(--white);
}

.ambassadors-list {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.ambassador-sublist {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  max-width: 250px;
  background-color: #1b2028;
  position: relative;
  border: 3px solid transparent;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  background-image: linear-gradient(
    135deg,
    rgba(117, 46, 124, 0.35),
    rgba(115, 74, 88, 0.1) 15%,
    #1b2028 20%,
    #1b2028 100%
  );
}

.ambassador-sublist:after {
  content: "";
  display: block;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(
    135deg,
    #752e7c,
    #734a58 20%,
    #1b2028 30%,
    #2c333e 100%
  );
}

.ambassador-image {
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  position: relative;
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
}

.ambassador-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.ambassador-username {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-family: "Nanora";
  letter-spacing: 1px;
}

.ambassador-user-handle {
  color: #7d8396;
}

.ambassador-actions {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ambassador-actions > * {
  margin: 0 0.25rem;
}

.ambassador-follow-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  border: var(--white) 2px solid;
  color: var(--white);
  font-family: "Nanora";
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
}

.ambassador-follow-btn:hover {
  color: var(--white);
  background: var(--light-purple);
  border: var(--light-purple) 2px solid;
}

@media (max-width: 600px) {
  .ambassadors-list {
    justify-content: space-around;
  }
}

@media (min-width: 900px) {
  .ambassador-sublist {
    width: calc(33.333% - 20px);
  }
}

/*=====================================================
=========== COLOR PALETTE HERO SECTION====================
======================================================*/

.color-palette-hero {
  width: 100%;
  height: 80vh;
  background: url("../images/heros/color-palette-hero.jpg") center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.color-palette-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.color-palette-hero-content {
  position: relative;
  color: var(--white);
  z-index: 1;
  padding: 20px;
}

.color-palette-hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cosmic";
  color: var(--white);
  opacity: 90%;
}

@media (max-width: 768px) {
  .color-palette-hero-content h1 {
    font-size: 2.2rem;
  }

  .color-palette-hero-content p {
    font-size: 1rem;
  }
}

/*=====================================================
=========== COLOR PALETTE SECTION======================
======================================================*/

.colors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.color-box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Lucida Sans";
  transition: 0.5s ease-in;
}

.color-box:hover {
  transform: scale(15px);
}
.color-name {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Nanora";
}

@media (max-width: 600px) {
  .color-box {
    width: 120px;
    height: 120px;
    font-size: 12px;
  }
}

/*=====================================================
=========== ABOUT US HERO SECTION====================
======================================================*/

.about-us-hero {
  width: 100%;
  height: 80vh;
  background: url("../images/heros/about-us-hero.webp") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.about-us-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about-us-hero-content {
  position: relative;
  color: var(--white);
  z-index: 1;
  padding: 20px;
}

.about-us-hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cosmic";
  color: var(--white);
  opacity: 90%;
}

@media (max-width: 768px) {
  .about-us-hero-content h1 {
    font-size: 2.2rem;
  }

  .about-us-hero-content p {
    font-size: 1rem;
  }
}

.about-section {
  width: 100%;
  color: white;
  font-family: "Arial", sans-serif;
}

.about-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  flex-wrap: wrap;
  gap: 30px;
}

.about-block.reverse {
  flex-direction: row-reverse;
}

.about-img {
  flex: 1;
  min-width: 300px;
}

.about-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.about-content {
  flex: 1.2;
  min-width: 300px;
}

.about-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Cosmic";
  color: var(--light-purple);
}

.about-content p {
  font-size: 1rem;
  line-height: 1.3;
  opacity: 90%;
  font-family: "Courier New", Courier, monospace;
}

.about-banner {
  width: 100%;
  height: 20%;
  margin-top: 40px;
}

.about-banner img {
  width: 100%;
  height: 30%;
  display: block;
  object-fit: cover;
}

/*=====================================================
=========== DROPS HERO SECTION====================
======================================================*/

.drops-hero {
  width: 100%;
  height: 80vh;
  background: url("../images/heros/drops-hero.webp") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.drops-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.drops-hero-content {
  position: relative;
  color: var(--white);
  z-index: 1;
  padding: 20px;
}

.drops-hero-content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Cosmic";
  color: var(--white);
  opacity: 90%;
}

@media (max-width: 768px) {
  .drops-hero-content h1 {
    font-size: 2.2rem;
  }

  .drops-hero-content p {
    font-size: 1rem;
  }
}

/*=====================================================
=========== DROPS SECTION====================
======================================================*/

.drops-section {
  padding: 60px 20px;
  font-family: "Nanora", sans-serif;
  color: #fff;
  text-align: center;
}

.drops-heading {
  font-size: 3.5rem;
  margin-bottom: 50px;
  font-family: "Cosmic";
  color: var(--light-purple);
  text-transform: uppercase;
}

.drop-card {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.drop-image {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 500px;
  overflow: hidden;
}

.drop-image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/drops/drop02.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: transform 0.4s ease;
}

.drop-image:hover .drop-image-bg {
  transform: scale(1.08);
}

.drop-content {
  position: relative;
  z-index: 2;
  padding: 30px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.drop-content h3 {
  font-size: 2rem;
  color: var(--light-purple);
  margin-bottom: 10px;
}

.drop-content p {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  color: var(--white);
  line-height: 1.3;
}

/*=====================================================
=========== ERROR 404 SECTION====================
======================================================*/

.error-page {
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nanora", sans-serif;
  padding: 20px;
}

.error-content h1 {
  font-size: 10rem;
  margin: 0;
  font-family: "Fender";
  color: var(--light-purple);
}

.error-content h2 {
  font-size: 2rem;
  margin: 10px 0;
  letter-spacing: 1px;
}

.error-content p {
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.error-btn {
  padding: 12px 28px;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: var(--light-purple);
  border: none;
  text-decoration: none;
  transition: background 0.3s ease;
}

.error-btn:hover {
  color: var(--black);
  background: var(--white);
}

/*=====================================================
=========== INDEX HERO SECTION====================
======================================================*/

.hero-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  text-shadow: 1px 1px 3px black;
  max-width: 600px;
  transition: opacity 0.5s ease-in-out;
}

.slide-content h1 {
  font-size: 3rem;
  margin: 0 0 20px;
  font-family: "Cosmic";
}

.slide-content p {
  font-size: 1.2rem;
  font-family: "Nanora";
  letter-spacing: 1px;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .slide-content h1 {
    font-size: 2rem;
  }
  .slide-content p {
    font-size: 1rem;
  }
}

/*=====================================================
=========== NEW DROPS BANNER SECTION====================
======================================================*/

.new-drop-section {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
}

.new-drop-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/home/banners/underground.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  z-index: 0;
}

.new-drop-section:hover::before {
  transform: scale(1.1);
}

.new-drop-section-content {
  position: relative;
  z-index: 1;
  padding: 2rem;
  max-width: 800px;
  margin-left: 200px;
}

.new-drop-section-content h1 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
  font-family: "Cosmic";
}

.new-drop-section-content p {
  margin: 0;
  font-size: 1rem;
  font-family: "Nanora";
}

@media (max-width: 520px) {
  .new-drop-section-content {
    margin-left: 100px;
  }

  .new-drop-section-content h1 {
    font-size: 25px;
  }

  .new-drop-section-content p {
    font-size: 10px;
  }
}

@media (max-width: 368px) {
  .new-drop-section-content {
    margin-left: 50px;
  }

  .new-drop-section-content h1 {
    font-size: 25px;
  }

  .new-drop-section-content p {
    font-size: 10px;
  }
}

/*=====================================================
=========== DROPS 2 BANNER SECTION====================
======================================================*/
.drop2-section {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 100px;
}

.drop2-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/home/banners/drop2.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  z-index: 0;
}

.drop2-section:hover::before {
  transform: scale(1.1);
}

.drop2-section-content {
  position: relative;
  z-index: 1;
  padding: 2rem;
  max-width: 800px;
  margin-left: 1200px;
}

.drop2-section-content h1 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
  font-family: "Cosmic";
  text-align: right;
}

.drop2-section-content p {
  margin: 0;
  font-size: 1rem;
  font-family: "Nanora";
  text-align: right;
}

@media (max-width: 520px) {
  .drop2-section-content {
    margin-left: 100px;
  }

  .drop2-section-content h1 {
    font-size: 25px;
  }

  .drop2-section-content p {
    font-size: 10px;
  }
}

@media (max-width: 368px) {
  .drop2-section-content {
    margin-left: 50px;
  }

  .drop2-section-content h1 {
    font-size: 25px;
  }

  .drop2-section-content p {
    font-size: 10px;
  }
}
